body{
    font-family: 'Rubik', sans-serif;
    margin: 0%;
}
#a{
    color:rgb(252, 18, 162) ;
}
#b{
    color: black;
}
.half-width{
    width: 40%;
    
    margin-left: 6%;
    padding: 2%;
}
.half-width-left{
    float: left;
}

.half-width-right{
    float: right;
}

.half-width img{
    width: 60%;
}
.top-banner{
    /* background-color: aqua; */
    background-image: url("/img/header-bg.png");
   background-size: 100%   90vh;
    background-repeat: no-repeat;
}
section{
    height: 90vh;

}
.link-button{
    text-decoration: none;
    background-color: rgb(252, 18, 162);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.middle-banner{
   
    background-image: url("/img/biography-bg.png");
   background-size: 100%   90vh;
    background-repeat: no-repeat;
}
.third-banner{
    
    padding: 2%;
  
    height: 100vh;
}


.third-banner img{
    width: 30%;
    display: inline-block;
   
    padding: 9px;
    float: left;
    
}
.third-banner{
    background-image: url("/img/latest-work-bg.png");
    background-size: 100% 50vh;
    background-repeat: no-repeat;
    
}
#third-part-title{
    /* background-color: blue; */
    text-align: center  !important;
    
}
.footer{
    background-image: url("/img/footer-bg.png");
    height: 500px;
    background-size: 100% 90vh;
    background-repeat: no-repeat;
}
#last-one{
  background-image:linear-gradient(45deg,rgb(194, 82, 95),rgb(231, 12, 48)) ;
  width: 50%;
  margin-left: 25%;
  height: 20%;
  padding: 10px 20px;
}