body{
    font-family: 'Rubik', sans-serif;
}
h2{
    color:rgb(252, 18, 162) ;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding: 2%;
}
.half-width img{
    width: 60%;
}